@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* reset */
body, body * {
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

body, div {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
}

svg {
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    width: 100%;
    padding: 16px;
    top: 0;
    text-align: center;
    z-index: 1;
}

.browser-warning {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 32px;
    background-color: #f003;
    color: red;
    font-size: 1.25em;
    text-align: center;
}
.browser-warning .errors {
    margin: 16px;
    padding: 16px;
    border: solid 2px red;
    font-size: 14px;
    background-color: #f003;
}